:root{
    --dark-blue: #25617Dff;
    --light-blue: #7FD1DBff;
    --medium-blue: #55BDC9ff;
    --darker-blue: #062D51ff;
    --mandarin: #F07C41ff;
    --flame: #DF622Cff;
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--darker-blue);
    color: var(--flame);
}
main, header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    gap: 1rem;
}
.logo img{
    height: 3rem;
}
.logo p{
    color: var(--mandarin);
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}
.players{
    border:ridge var(--flame) 5px;
    border-radius: 20px;
    background-color:var(--mandarin);
    height: 13rem;
    width: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--flame),
    rgb(212, 137, 137));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.winners{
    border: solid var(--flame) 10px;
    border-radius: 20px;
    height: 13rem;
    width: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
.section2{
    margin-left: auto;
    margin-right: auto;
}
.numInput{
    width: 15%;
    height: 1.5rem;
    border-radius: 12px;
    background-color: var(--light-blue);
    border: solid 3px var(--dark-blue);
    text-align: center;
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}

.button{
    width: 15%;
    height: 1.5rem;
    border-radius: 8px;
    background-color: var(--light-blue);
    border: solid 3px var(--dark-blue);
    color: var(--flame); 
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
    
}
.section2{
    width: 100%;
}
.sect2-1{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.sect2-2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.section1,.section3{
    display: flex;
    flex-direction: row;
    margin:1rem 2rem 0rem 2rem;
    justify-content: center;
    vertical-align: middle;
    gap: 1rem;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    color: var(--flame);
}
.score{
    margin-top: 2.5rem;
    font-size: 4rem;;
    font-weight: bolder;
}

.scoreboardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.eachRound{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    width:84%;
    margin-left: 8%;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: solid 3px var(--flame);
    border-radius: 10px;
    color: var(--flame);
}

.playerNameRow{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.editButton{
    max-height: 1rem;
}

.Namebtm{
    padding: 0.5rem;
    border-radius: 10px;
    align-content: center;
    font-family: 'Viga', sans-serif;
}
.scorebox{
    width: 3.5rem;
    color: var(--flame);
    text-align: right;
    margin-right: 3rem;
}
.material-symbols-outlined{
    color: var(--flame);
}
#hint, #hint_input{
    text-align: center;
    font-size: 1rem;
    max-height: 0.5rem;
}

.sect2-0{
    margin-top: 1.5rem;
}
.start-icon{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: var(--mandarin) ridge 3px;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.start-icon:active{
    transform: scale(0.5);
    opacity: 50%;
    box-shadow: 12px 8px 8px var(--mandarin); 
}
.sect2-0 p{
    display: inline;
    vertical-align: middle;
}
#timer-icon{
    font-size: 2.5rem;
    text-align: center;
}
#start-text{
    font-size: 2.5rem;
    font-family: 'Viga', sans-serif;
}
/* ========================================= */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 0%;
    max-height: 11rem;
  }
  h1 {
    font-size: 90px;
    border: var(--mandarin) ridge 3px;
    border-radius: 10px;
    padding: 2rem;
  }
h1:active{
    transform: scale(0.5);
    opacity: 50%;
    box-shadow: 12px 8px 8px var(--mandarin); 
  }
html, body {
      overscroll-behavior-y: contain;
  }

  #mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -10%; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 12%; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 1.2rem; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #home {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #rummikub {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #big2 {
    top: 140px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #555 /* Light Black */
  }