:root{
    --dark-blue: #25617Dff;
    --light-blue: #7FD1DBff;
    --medium-blue: #55BDC9ff;
    --darker-blue: #062D51ff;
    --mandarin: #F07C41ff;
    --flame: #DF622Cff;
    --white: rgb(225, 251, 254);
}


*{
    font-family: 'Black Ops One', cursive;
}
body{
    background-color: var(--darker-blue);
    color: var(--flame);
}
.title{
    font-size: 3rem;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    margin:8% 0 8% 0;
}
.home-icon a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--flame);
    border: var(--mandarin) ridge 3px;
    border-radius: 10px;
    height: 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    padding: 1rem;
    font-family: 'Black Ops One', cursive;
    vertical-align: middle;
}

.home-icon a:active{
    transform: scale(0.8);
    opacity: 80%;
    box-shadow: 12px 8px 8px var(--mandarin); 
}
.home-icon a:hover{
    background-color: var(--flame);
    color: var(--darker-blue);
    opacity: 80%;
    box-shadow: 6px 4px 2px var(--mandarin) ; 
}

header{
    display: flex;
    flex-direction: row;
}

/* Menu Icon effect*/
.menuIcon div{
    width: 35px;
    height: 4px;
    background-color: var(--flame);
    margin: 6px 0;
}

.menuIcon{
    margin-top: 2%;
    margin-right: 0%;
}
.logo{
    margin: 3% auto 1% auto;
    display: flex;
    align-items:center;
    gap: 1rem;
}
.logo img{
    height: 2.2rem;
}
.logo p{
    color: var(--mandarin);
    font-size: 1.8rem;
    font-family: 'Black Ops One', cursive;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.players{
    border:ridge var(--flame) 5px;
    border-radius: 20px;
    background-color:var(--mandarin);
    height: 12rem;
    width: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--flame),
    rgb(212, 137, 137));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.crown{
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-template-rows: repeat(1);
}

.crownImg{
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.winners{
    border: solid var(--flame) 10px;
    border-radius: 20px;
    height: 12rem;
    width: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--light-blue),
    var(--dark-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
.section2{
    margin-left: auto;
    margin-right: auto;
}
.numInput{
    width: 15%;
    height: 1.5rem;
    border-radius: 12px;
    background-color: var(--light-blue);
    border: solid 3px var(--dark-blue);
    text-align: center;
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.numInput:focus{
    font-size: x-large;
    -webkit-text-fill-color:var(--flame);
    place-content:unset;
}

.button{
    width: 6rem;
    height: 1.5rem;
    border-radius: 8px;
    background-color: var(--light-blue);
    border: solid 3px var(--dark-blue);
    color: var(--flame); 
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.section2{
    width: 100%;
}
.sect2-1{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.sect2-2{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
}
.buttonSect{
    display: flex;
    justify-content: center;
    gap: 12%;
    height: 1.5rem;
    flex-grow: 0.4;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 2rem;
    flex-grow: 1;
    margin-left: 2rem;
    margin-right: -2rem;
}
.tooltiptext{
    font-size: 1.3rem;
}
.tooltip .tooltiptext {
visibility: hidden;
width: 15rem;
text-align: left;
background-color: var(--mandarin);
color: var(--darker-blue);
border-radius: 6px;
padding: 13px;
opacity: 80%;
margin-top: 2rem;
position:absolute;
/* Position the tooltip */
}

/* .tooltip:hover .tooltiptext {
visibility: visible;
} */

/* .tooltip:active .tooltiptext {
visibility: visible;
} */

.section1,.section3{
    display: flex;
    flex-direction: row;
    margin:1rem 2rem 0rem 2rem;
    justify-content: center;
    vertical-align: middle;
    gap: 1rem;
}
.name{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Black Ops One', cursive;
    color: var(--flame);
}
.score{
    margin-top: 3rem;
    font-size: 2.5rem;;
    font-weight: bolder;
    font-family: 'Black Ops One', cursive;
}

.scoreboardTitle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-family: 'Black Ops One', cursive;
}

.eachRound{
    font-family: 'Black Ops One', cursive;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}


footer{
    width:84%;
    margin-left: 8%;
    border-radius: 10px;
    border: solid 3px var(--flame);
    border-radius: 10px;
    color: var(--flame);
}
#restoredata{
    color: var(--flame);
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
.playerNameRow{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.editButton{
    max-height: 1rem;
}


.material-symbols-outlined{
    color: var(--flame);
}

.sect2-0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.start-icon{
    width: fit-content;
    /* margin-left: auto;
    margin-right: auto; */
    border: var(--mandarin) ridge 3px;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
}
.timer-section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.pauseTimer{
    font-size: 2rem;
    border: var(--flame) solid 6px;
    border-radius:50%;
    height: 2rem;
    width: 2rem;
    text-align: center;
}
/*Timer clicked effect*/
.start-icon:active{
    transform: scale(0.5);
    opacity: 50%;
    box-shadow: 12px 8px 8px var(--mandarin); 
}

.sect2-0 p{
    display: inline;
    vertical-align: middle;
}
#timer-icon{
    font-size: 2.5rem;
    text-align: center;
}
#start-text{
    font-size: 2.5rem;
    font-family: 'Black Ops One', cursive;
}
/* ========================================= */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0%;
    max-height: 10rem;
  }
#hint, #hint_input{
    text-align: center;
    font-size: 0.7rem;
    max-height: 0.5rem;
    margin-top: 1rem;
}

h1 {
    font-size: 3.8rem;
    border: var(--mandarin) ridge 3px;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    max-height: 4rem;
    /* -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden; */
  }

@keyframes flash{
    0% {background-color: var(--flame);}
    50% {background-color: white;}
}
@keyframes party{
    0% {background-color: var(--mandarin);}
    10% {background-color: var(--mandarin);}
    20% {background-color: var(--mandarin);}
    30% {background-color: white;}
    40% {background-color: white;}
    50% {background-color:white;} 
}
h1:after{

    animation-name: pageFlash;
    animation-iteration-count: 3;
    animation-duration: 2s;

  }

html, body {
      overscroll-behavior-y: contain;
  }
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:var(--mandarin);
    opacity: 70%; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--darker-blue);
    display: block;
    transition: 0.3s;
    font-family: 'Black Ops One', cursive;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.dialog-section{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.pNameSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;
    text-align: center;
    border-bottom: var(--flame) solid 1px;
}
.roundScore{
    font-size: 1.5rem;
}
.outputTitle{
    text-align: center;
    margin-top: 0.3rem;
}
.dialog-pName{
    border-radius: 8px;
    padding: 0.5rem;
    font-size:0.5rem;
    cursor: pointer;
    border: solid var(--flame) 1px;
    margin-top: 0.5rem;
}
.dialogLower{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    align-items: center;
}
.output{
    min-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto; /* Hide horizontal scrollbar */
    overflow-y: hidden;
    display: flex;
    justify-content: flex-end;
}
@keyframes mymove {
    0%{font-size: 100px;opacity: 10%;}
  }
@keyframes mymoveBig {
    0%{font-size: 120rem;}
  }
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 0.5rem;
}

.keys .key{
    border: 1px solid var(--flame);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
}
.key:hover{
    background-color: var(--flame);
    color: var(--darker-blue);
    cursor: pointer;
}
.operator{
    font-size: 1.5rem;
    font-weight: bolder;
}
.confirm{
    background-color: var(--flame);
    color: var(--darker-blue);
}
.smile img{
    width: 1.5rem;
}

.nextGame{
    text-align: center;
    margin-top: 1rem;
    border: 1px solid var(--flame);
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: var(--flame);
    color: var(--darker-blue);
    cursor: pointer;
}
.selected{
    background-image: linear-gradient(to right, var(--flame),var(--mandarin));
    color: var(--dark-blue);
}
