:root{
    --dark-blue: #25617Dff;
    --light-blue: #7FD1DBff;
    --medium-blue: #55BDC9ff;
    --darker-blue: #062D51ff;
    --mandarin: #F07C41ff;
    --flame: #DF622Cff;
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--darker-blue);
    color: var(--flame);
}
main, header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    gap: 1rem;
}
.logo img{
    height: 3rem;
}
.logo p{
    color: var(--mandarin);
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}
.players{
    border:ridge var(--flame) 5px;
    border-radius: 20px;
    background-color:var(--mandarin);
    height: 13rem;
    width: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--flame),
    rgb(212, 137, 137));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.winners{
    border: solid var(--flame) 10px;
    border-radius: 20px;
    height: 13rem;
    width: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
.section2{
    margin-left: auto;
    margin-right: auto;
}
.numInput{
    width: 15%;
    height: 1.5rem;
    border-radius: 12px;
    background-color: var(--light-blue);
    border: solid 3px var(--dark-blue);
    text-align: center;
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}

.button{
    width: 15%;
    height: 1.5rem;
    border-radius: 8px;
    background-color: var(--light-blue);
    border: solid 3px var(--dark-blue);
    color: var(--flame); 
    background-image: linear-gradient(to right, var(--light-blue),
    var(--darker-blue));
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    cursor: pointer;
    
}
.section2{
    width: 100%;
}
.sect2-1{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.sect2-2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.section1,.section3{
    display: flex;
    flex-direction: row;
    margin:1rem 2rem 1rem 2rem;
    justify-content: center;
    vertical-align: middle;
    gap: 1rem;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    color: var(--flame);
}
.score{
    margin-top: 2.5rem;
    font-size: 4rem;;
    font-weight: bolder;
}

.scoreboardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.eachRound{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    width:84%;
    margin-left: 8%;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: solid 3px var(--flame);
    border-radius: 10px;
    color: var(--flame);
}

.playerNameRow{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.editButton{
    max-height: 1rem;
}

.Namebtm{
    padding: 0.5rem;
    border-radius: 10px;
    align-content: center;
    font-family: 'Viga', sans-serif;
}
.scorebox{
    width: 3.5rem;
    color: var(--flame);
    text-align: right;
    margin-right: 3rem;
}
.material-symbols-outlined{
    color: var(--flame);
    text-align: center;
}

.timer{
    text-align: center;
}
/* ========================================= */
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-family: "Montserrat";
    font-size: 90px;
  }